:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(120deg, #aeb2ff, #565aa9);

    --vp-home-hero-image-filter: blur(44px);
    --vp-home-hero-image-background-image: linear-gradient(0deg, rgba(86, 90, 169, 0.6), rgba(86, 90, 169, 0.6));

    --swiper-pagination-fraction-color: var(--vp-c-purple-1);
    --swiper-navigation-color: var(--vp-c-purple-1);
    --swiper-navigation-sides-offset: 4px;
}

/*NOTE: Override block on images */
img {
    display: inline-block;
}

/*NOTE: Override Team Page top margin */
.VPTeamPage {
    margin-top: 0 !important;
}

/*NOTE: inline-button style for FullscreenButton.vue */
.inline-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.swiper {
    height: 512px;
    /*padding-top: 4px !important;*/
    /*padding-bottom: 4px !important;*/
    background-color: var(--vp-code-block-bg);
    border-radius: 8px;
}
.swiper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
